snippet today "" i
`date +%y-%m-%d`
endsnippet

snippet date "" i
`date`
endsnippet

snippet sig "" b
From :Young Yi
 _________________
< Have a nice day! >
 -----------------
$0
endsnippet

snippet ~ "" i
/home/ubuntu/
endsnippet

snippet name ""
杨谊 16130120200 429426523@qq.com
endsnippet

snippet words ""
A young intelligent turtle.
endsnippet
