snippet today
`date +%y-%m-%d`
endsnippet

snippet date
`date`
endsnippet

snippet sig
From :Young Yi
 _________________
< Have a nice day! >
 -----------------
$0
endsnippet

snippet ~ "" i
/home/ubuntu/
endsnippet

snippet name
杨谊    16130120200    429426523@qq.com
endsnippet

snippet font
<font color=${1:crimson} size=${2:4}>${3:}</font>$0
endsnippet
