#snippet file "file info" bA
#/* file		: `!p snip.rv = path` 
# * by		: waterlemon	429426523@qq.com
# * date		: `date`
# * last update	: ${1:`date`}
# * 
# * description	: ${2:describe}
# */
#$0
#endsnippet


snippet com "line comment" w
/* ${1:} */$0
endsnippet

