[submodule "pack/thirdparty/start/Ultisnips"]
	path = pack/thirdparty/start/Ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/thirdparty/start/calendar.vim"]
	path = pack/thirdparty/start/calendar.vim
	url = git@github.com:itchyny/calendar.vim.git
[submodule "pack/thirdparty/opt/vim-latex-live-preview"]
	path = pack/thirdparty/opt/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule "pack/thirdparty/opt/vimtex"]
	path = pack/thirdparty/opt/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "pack/thirdparty/opt/killersheep"]
	path = pack/thirdparty/opt/killersheep
	url = git@github.com:vim/killersheep.git
