[submodule "pack/thirdparty/start/Ultisnips"]
	path = pack/thirdparty/start/Ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/thirdparty/start/calendar.vim"]
	path = pack/thirdparty/start/calendar.vim
	url = git@github.com:itchyny/calendar.vim.git
