[submodule "pack/thirdparty/start/Ultisnips"]
	path = pack/thirdparty/start/Ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "pack/thirdparty/start/vim-colorschemes"]
	path = pack/thirdparty/start/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "pack/thirdparty/start/tabular"]
	path = pack/thirdparty/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "pack/thirdparty/start/calendar.vim"]
	path = pack/thirdparty/start/calendar.vim
	url = git@github.com:itchyny/calendar.vim.git
[submodule "pack/thirdparty/start/auto-pairs"]
	path = pack/thirdparty/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/thirdparty/start/vim-markdown"]
	path = pack/thirdparty/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "pack/thirdparty/start/vimtex"]
	path = pack/thirdparty/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "pack/thirdparty/start/vim-latex-live-preview"]
	path = pack/thirdparty/start/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
